
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, p, ul {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

ul {
  margin-left: 2em;
}

body {
  width: 80%;
  margin: auto;
  border: 2px solid #4d0080;
  font-family: Arial, sans-serif;
}

header {
  border-bottom: 2px solid #4d0080;
  background: linear-gradient(30deg, #f6bb73 0%, white 30%, white 65%, #f6bb73 100%);
  padding: 1em;
}

header img {
  margin: 0.75em 1em;
}

header h2 {
  padding-bottom: 0;
}

header h3 {
  padding-bottom: 1em;
}

main {
  padding: 0 1em 1em 1em;
}

main h1 {
  border-top: 2px solid #4d0080;
  border-bottom: 2px solid #4d0080;
  text-align: left;
}

main img {
  border: 4px double #4d0080;
  border-radius: 10px;
  display: block;
  margin: 0.5em 0;
}

blockquote {
  font-style: italic;
  padding: 1em 2em;
}

footer {
  background-color: #4d0080;
}

footer p {
  color: white;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
}
