
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


h1, h2, h3, p, ul {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

ul {
  margin-left: 2em;
}


:root {
  --accent-color: #4d0080; 
}

body {
  width: 80%;
  margin: auto;
  border: 2px solid var(--accent-color);
  font-family: Arial, sans-serif;
}


header {
  border-bottom: 2px solid var(--accent-color);
  background: linear-gradient(30deg, #f6bb73 0%, white 30%, white 65%, #f6bb73 100%);
  padding: 1em;
}

header img {
  margin: 0.75em 1em;
}

header h2 {
  padding-bottom: 0;
}

header h3 {
  padding-bottom: 1em;
}


main {
  padding: 0 1em 1em 1em;
}

main h1 {
  border-top: 2px solid var(--accent-color);
  border-bottom: 2px solid var(--accent-color);
  text-align: left;
}


main img {
  border: 4px double var(--accent-color);
  border-radius: 10px;
  display: block;
  margin: 0.5em auto;
}


blockquote {
  font-style: italic;
  padding: 1em 2em;
}


footer {
  background-color: var(--accent-color);
}

footer p {
  color: white;
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
}


#season-guests {
  border: 4px double var(--accent-color);
  border-radius: 10px;
  padding: 0.5em;
  text-align: center;
  font-weight: bold;
}

